#container {
    display: grid;
    width: auto;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    /* grid-template-rows: 100px 100px; */
    column-gap: 20px;
    row-gap: 20px;
}

.gridItem {
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.number {
    width: 50px;
}

#loading {
    color: red;
}